.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  display:flex;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card {
  margin-top: 5%;
  margin-right:auto;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 0px;
  padding: 30px;
  margin-bottom: 20px;
  width: 100%; /* Adjust width as needed */
  text-align: center;
  border: 1px solid #ffffff; /* Light grey border */
}

.card h2 {
  margin: 0 0 10px 0;
}

.socialIcon {
  width: 25px;
  height: 25px;
  color: #ffffff;
}


.socials {
  display: flex;
  justify-content: center;
  top: 10px;
  width: 30%;
  margin-top: auto;
  margin-left: auto;
}

.link {
  background-color: #8575a9;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  padding: 0.35rem;
  margin-right: 10px;
  margin-bottom: 1px;
}
.title {
  margin-right: auto;
  color: #8575a9;
  font-family: Poppins;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.link:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.link2 {
  font-family: "Roboto";
  background-color: #8575a9;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px 20px 20px 0px;
  padding: 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 35px;
  white-space: nowrap;
  margin-top: 5px;
}
.byline {
  display:flex;
  margin-bottom: -50px;
}

@media screen and (max-width: 425px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .link {
    margin-bottom: 20px;
  }
}
