.main {
  min-height: 100vh;
  max-width: 1200px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
} 
@media screen and (max-width: 459px) {
  .main {
    min-height: 100vh;
    max-width: 1200px;
    display: grid;
    grid-gap: -6rem;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    margin: -11px 6px;
  }
}
  
.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}
.header {
  text-align: center;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
}


.circleSvg{
  gap: 20px; 
  border-radius: 100%; /* Makes the image circular */
  width: 60px; /* Set the size of the circle */
  height: 60px;
  border: 3px solid 
  #E4E4F9; /* Example: A solid border with a light color */
  margin-top: 1%;
  margin-left: 50%;
  margin-right: 50%;
  
}