.purpleContainer{
  width: 75.5rem;
  height: 30.625rem;
  position: relative; /* or absolute */
  margin-left: 25px;
}
@media (max-width: 459px) {
  .purpleContainer{
    width: 89.5rem;
    height: 30.625rem;
    position: relative;
    margin-left: 32px;
  }
}
.div {
  padding: 5% 3%;
  position: relative;
  display: flex;
  margin-top: 11px;
  width: 100%;
  max-width: 1506px;
  flex-direction: column;
  background-color: #8575A9; 
  border-radius: 30px 30px 30px 0px;
}
@media (max-width: 459px) {
  .div{
      max-width: 26%;
      height: 400px;
  }
}
@media (max-width: 499px) {
.div4{
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; 
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  height: 40%;
  scroll-snap-type: x mandatory; 
}
.div4::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Edge, and Safari */
}

}
.div2 {
  color: #fff;
  align-self: center;
  font: 700 64px Roboto, sans-serif;
}

@media (max-width: 459px) {
  .div2 {
      max-width: 100%;
      font-size: 25px;
      margin-top: -10%;
  }
}

.div3 {
  margin-top: 101px;
}

@media (max-width: 459px) {
  .div3 {
    max-width: 100%;
    margin-top: 12px;
    margin-left: 7%;
  }
}
.div4 {
  gap: 20px;
  display: flex;
}


.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 35%;
  margin-left: 1%;
  
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.div5 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 622px;
  flex-grow: 1;
  align-items: start;
  font-size: 24px;

  color: rgba(52, 65, 81, 0.5);
  font-weight: 400;
  padding: 1% 1%;
}

@media (max-width: 459px) {
  .div5 {
    max-width: 100%;
    margin-top: 0px;
    padding: 0 20px;
  }
}

.img {
  position: absolute;
  border-radius: 20px 20px 20px 0px;
  inset: 0;
  width: 29.125rem;
  height: 40.88806rem;
  flex-shrink: 0;
}

.img2 {
  aspect-ratio: 1.02;
  object-fit: auto;
  object-position: center;
  width: 56px;
  fill: #000;
  margin-left: 8px;
}
@media (max-width: 459px) {
  .img2{
    margin-left: -15px;
    width: 25%;
  }
}

.div6 {
  position: relative;
  color: #344151;
  margin: 30px 0 0 12px;
  font: 500 28px Poppins, sans-serif;
}

@media (max-width: 459px) {
  .div6 {
    margin-left: -10%;
    margin-top: 10%;
    font-size: 16px;
  }
}

.div7 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 12px 0 0 12px;
}

@media (max-width: 459px) {
  .div7 {
    left: -20px;
    font-size: 10px;
    top: 2px;
    width: 134px;
  }
}

.div8 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 11px 0 0 12px;
}

@media (max-width:459px) {
  .div8 {
    left: -20px;
    font-size: 10px;
    top: 2px;
    width: 134px;
  }
}

.div9 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 12px 0 0 12px;
}

@media (max-width:459px) {
  .div9 {
    left: -62px;
    font-size: 10px;
    top: 2px;
    width: 134px;
  }
}

.img3 {
  object-fit: auto;
  object-position: center;
  width: 100%;
  align-self: stretch;
  margin-top: 20px;
}

@media (max-width: 459px) {
  .img3 {
    object-fit: auto;
    object-position: center;
    margin-top: 6px;
width: 2px;
  }
}

.img4 {
  aspect-ratio: 1.2; /* Maintain the aspect ratio */
  width: 200px; /* Set the desired width */
  position: absolute; /* Position the image absolutely */
  left: 8.57%; /* Adjust left positioning */
  right: 75.39%; /* Adjust right positioning */
  top: 45.48%; /* Adjust top positioning */
  bottom: 14.97%; 
}

@media (max-width: 991px) {
  .img4 {
    height: 37%;
        width: 56%;
        margin: -202px 0 0 11px;
        left: 28%;
  }
}



@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}

.div10 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 622px;
  flex-grow: 1;
  align-items: start;
  font-size: 24px;
  font-size: 24px;
  color: rgba(52, 65, 81, 0.5);
  font-weight: 400;
  padding: 1% 1%;
}

@media (max-width: 459px) {
  .div10 {
    max-width: 100%;
        margin-top: 0px;
        padding: 0px 20px;
  }
}

.img5 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 52px;
  fill: #000;
  margin-left: 12px;
}

@media (max-width: 459px) {
  .img5 {
    margin-left: -16px;
        width: 21%;
  }
}

.div11 {
  position: relative;
  color: #344151;
  margin: 34px 0 0 12px;
  font: 500 28px Poppins, sans-serif;
}

@media (max-width: 459px) {
  .div11 {
    margin-left: -5%;
    margin-top: 8%;
    font-size: 16px;
  }
}
.div12 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 6px 0 0 12px;
}

@media (max-width: 459px) {
  .div12 {
    margin-left: -65px;
    font-size: 10px;
    width: 300px;
    margin-top: 5%;
  }
}

.div13 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 4px 0 0 12px;
}

@media (max-width: 459px) {
  .div13 {
    margin-left: -65px;
    font-size: 10px;
    width: 300px;
    margin-top: 5%;
  }
}

.div14 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 0px 0 0 12px;
}

@media (max-width: 459px) {
  .div14 {
    margin-left: -65px;
    font-size: 10px;
    width: 300px;
    margin-top: 5%;
  }
}
/* Grupo 164966 */




.img6 {
  object-fit: auto;
  object-position: center;
  width: 100%;
  align-self: stretch;
  margin-top: 13px;
}

@media (max-width: 459px) {
  .img6 {
    margin-top: 0px;
  }
}

.img7 {
  aspect-ratio: 1.2; /* Maintain the aspect ratio */
  width: 200px; /* Set the desired width */
  position: absolute; /* Position the image absolutely */
  left: 8.57%; /* Adjust left positioning */
  right: 75.39%; /* Adjust right positioning */
  top: 45.48%; /* Adjust top positioning */
  bottom: 14.97%; 
}



@media (max-width: 459px) {
  .img7 {
    margin-left: 10px;
    margin-top: -70%;
    height: 15%;
  }
}

.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}

.div15 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: auto;
  flex-grow: 1;
  align-items: start;
  font-size: 24px;
  color: rgba(52, 65, 81, 0.5);
  font-weight: 400;
  padding: 1% 1%;
}

@media (max-width: 459px) {
  .div15 {
    margin-top: 4px;
        padding: 0 0px;
        width: 34rem;
  }
}

.img8 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 49px;
  fill: #000;
  margin-left: 11px;
}

@media (max-width: 459px) {
  .img8 {
    margin-left: 10px;
    width: 6%;
  }
}

.div16 {
  position: relative;
  color: #344151;
  margin: 32px 0 0 12px;
  font: 500 28px Poppins, sans-serif;
}

@media (max-width: 459px) {
  .div16 {
    margin: 2%;
    font-size: 20px;
  }
}

.div17 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 19px 0 0 12px;
}

@media (max-width: 459px) {
  .div17 {
    margin-left: -65px;
    font-size: 10px;
    width: 300px;
    margin-top: -1%;
  }
}

.div18 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 11px 0 0 12px;
}

@media (max-width: 991px) {
  .div18 {
    margin-left: -65px;
    font-size: 10px;
    width: 300px;
  }
}

.div19 {
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 15px 0 0 12px;
}

@media (max-width: 991px) {
  .div19 {
    margin-left: -65px;
    font-size: 10px;
    width: 300px;
  }
}

.img10{
  aspect-ratio: 1.2;
  width: 77%; /* Set the desired width */
  height: 50%;
}

@media (max-width: 459px) {
  .img10 {
    margin-top: -5px;
    height: 92px;
    margin-left: -55px;

  }
}
.featuresContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
  background-color: #E5E4F9;
  width: 85%;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 25px;
}

.featureItem {
  background-color: #FFFFFF;
  border: 1px solid #C9C2B7;
  border-radius: 20px 20px 1% 1%;
  text-align: center;
  padding: 15px;
  width: 100%; /* Set a specific width for each card */
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-decoration: none;
}

.featureItem:hover {
  transform: translateY(-5px); /* Card pops up a bit on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.featureTitle {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.featureDescription {
  color: black;
  font-size: 1rem;
}

@media screen and (max-width: 425px) {
  .featureDescription {
    display: none;
  }

  .featureTitle {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .featuresContainer {
    margin-top: 0;
  }
}