.container {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  margin-bottom: 120px;
}

.iconWrapper {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 15px;
  border: 3px solid #a598c5;
  overflow: hidden;
}
@media screen and (max-width: 499px)
{
 .iconWrapper{
  width: 45px;
  height: 45px;
  margin-top: 4px;
 } 
}
@media screen and (max-width: 399px) {
  .socialsWrap {
    margin-left: 20%;
  }
}

.iconWrapper2 {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 1px;
  border: 3px solid #a598c5;
  overflow: hidden;
}

.heroImageWrapper {
  position: relative;
  width: 90%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
}
@media screen and (max-width: 499px)
{
  .heroImageWrapper{
    width: 110%;
    height: 193px;
    margin-left: -4%;
  }
}
.labelText {
  color: #ffff;
}

.heroImage {
  object-fit: cover;
  border-radius: 40px 40px 40px 0px;
}

.titleWapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 499px)
{
.titleWapper {
  margin-left: -4%;
}  
}

.title {
  margin-top: 7px;
  margin-left: 15px;
  color: #8575a9;
  font-family: Poppins;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.label {
  width: max-content;
  background-color: transparent;
  padding: 10px;
  height: 35px;
  border-radius: 20px 20px 20px 0px;
  text-transform: capitalize;
  margin-top: auto;
  margin-top: 7px;
  margin-left: 15px;
  border: 1.5px solid #d9d0f0; /* Added border style */
  outline: none; /* Removes the default outline */
  cursor: pointer; /* Changes cursor to pointer on hover */
  color: #8575a9; /* Changed the text color */
  font-family: Roboto;
  font-size: 0.8375rem; /* Inherits the font style from the parent */
  line-height: normal; /* Resets the default line height */
  -webkit-appearance: none; /* Removes default styling for WebKit browsers */
  -moz-appearance: none; /* Removes default styling for Mozilla browsers */
  appearance: none;
}
.icon{
  width: 100%;
  height: 80%;
  margin-top: 5%;
}
@media screen and (max-width: 499px) {
 .icon{
  width: 86%;
  height: 81%;
  margin-top: 9%;
 }
  
}
.pageContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 499px) {
  
  .pageContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column-reverse;
}
  }
  

.sideMenu {
  background-color: #8575a9;
  border-radius: 20px 20px 20px 0px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10%;
  max-height: 300px;
  margin-top: 3.5%;
}
@media screen and (max-width: 499px) {
  .sideMenu {
    width: 107%;
    margin-left: -3%;
  }
  
}
@media screen and (max-width: 499px) {
  .linkWrapper {
   display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
}

.link {
  font-family: "Questrial", sans-serif;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 0px;
  font-size: 16px;
  text-decoration: none;
  font-family: Roboto;
  color: #8575a9;
  cursor: pointer;
  border: 3px solid;
  padding: 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 15px;
  margin-top: 20px;
}

.link:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.links {
  width: 100%;
  display: flex;
}

.socialIcon {
  width: 25px;
  height: 25px;
  color: #8575a9;
}

.socialIconWrapper {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  background-color: #ffffff;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 110px;
  margin-top: 20px;
}
@media screen and (max-width: 499px){
  .socials{
    margin-left: -47%;
  }
}
.backArrow {
  width: 50px;
  color: black;
}

@media screen and (max-width: 425px) {
  .heroImageWrapper {
    width: 110%;
        height: 155px;
  }
  .pageContent {
    flex-direction: column-reverse;
  }
  .backArrow {
    width: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
