.header {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.protocolWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* This will center the buttons in the container */
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.label {
  width: max-content;
  background-color: #e4e4f9;
  padding: 5px;
  border-radius: 20px 20px 20px 0px;
  text-transform: capitalize;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none; /* Removes the default border */
  outline: none; /* Removes the default outline */
  cursor: pointer; /* Changes cursor to pointer on hover */
  color: inherit; /* Inherits the font color from the parent */
  color: #8575a9;
  font-family: Roboto;
  font-size: 0.9375rem; /* Inherits the font style from the parent */
  line-height: normal; /* Resets the default line height */
  -webkit-appearance: none; /* Removes default styling for WebKit browsers */
  -moz-appearance: none; /* Removes default styling for Mozilla browsers */
  appearance: none; /* Removes default styling for modern browsers */
  padding: 10px;
}

.selected {
  background-color: #c9c2b7; /* A different color to indicate selection */
}
