.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px 20px 20px 0px;   
  overflow: hidden; 
  padding: 15px;
  background: #F9F9FE;
  width: 20.25rem;
  height: 24.875rem;
}
.card:hover {
  transform: translateY(-5px); /* Card pops up a bit on hover */
  box-shadow: 0 6px 12px rgba(153, 78, 160, 0.15); /* Adds a subtle lift effect */
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px; /* Set the size of the circle */
  height: 60px;
  background-color: #FFF;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #c4bbd6;
  overflow: hidden;
  border-radius: 100%; /* This ensures no overflow if the image is larger than the container */
}

.cardTitle {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
  color: #8575A9;

font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.link:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

 
  .label {
    width: max-content;
    background-color: transparent;
    padding: 10px; /* Increased padding for better spacing */
    border-radius: 20px 20px 20px 0px;
    text-transform: capitalize;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #d9d0f0; /* Added border style */
    outline: none; /* Removes the default outline */
    cursor: pointer; /* Changes cursor to pointer on hover */
    color: #8575A9; /* Changed the text color */
    font-family: Roboto;
    font-size: 0.8375rem; /* Inherits the font style from the parent */
    line-height: normal; /* Resets the default line height */
    -webkit-appearance: none; /* Removes default styling for WebKit browsers */
    -moz-appearance: none; /* Removes default styling for Mozilla browsers */
    appearance: none; /* Removes default styling for modern browsers */
  }
 
.labelText {
  color: #8575A9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.labelWrapper {
  display: flex;
  margin-bottom: 10px;
}

.socialIcon {
  width: 25px;
  height: 25px;
  color: #F9F9FE;
}

.socialIconWrapper {
  border: 1px solid #F9F9FE;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  background-color: #8575A9;
}