.selectWrapper {
  position: relative; /* Required for absolute positioning of the pseudo-element */
  display: inline-block; /* Allows the width to be as per content up to the max-width */
  max-width: 200px; /* Maximum width set for the select wrapper */
  margin-left: 2rem;
}

.select {
  width: 100%; /* Make the select element take the full width of its parent */
  padding: 10px;
  padding-right: 30px; /* Increase right padding to make room for the arrow */
  background-color: #FFF;
  border: .5px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  -webkit-appearance: none; /* Removes default chrome and safari style */
  -moz-appearance: none; /* Removes default style Firefox */
  appearance: none; /* Necessary for custom dropdown styles */
  position: relative;
}

.selectWrapper::after {
  content: '▼'; /* Arrow character */
  position: absolute;
  right: 10px; /* Adjust as per design requirements */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Ensure it is exactly centered */
  pointer-events: none; /* This prevents the arrow from being clickable */
  color: #000; /* Arrow color, adjust as needed */
  font-size: 10px; /* Arrow size, adjust as needed */
}

/* Styling the focus state */
.select:focus {
  outline: none;
  border-color: #4A90E2;
}

/* Optionally: style the option elements */
.option {
  padding: 10px;
}
