/* components/TelegramCallout.module.css */

.telegramcallout {
  background-color: #E5E4F9;
  
  text-align: center;

}
.telegramTitle {
  font-weight: bold;
}
.telegramJoin {
  font-weight: bold;
}

.telegramJoin:hover {
  border-radius: 5px;
  color: rgb(188, 188, 188);
}

@media screen and (max-width: 600px) {
  .telegramTitle {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
}
